@inject NavigationManager Navigation
@inject Session Session

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        <p class="card-text">@Description</p>
    </div>
    <div class="card-footer">
        <div class="row justify-content-center align-items-center">
        <div class="col-lg-3 col-md-12 col-sm-12 mt-2  form-group">
            <button class=" btn btn-primary w-100" type="submit" @onclick="GoToPanel">Ir</button>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 mt-2  form-group">
            <button class="btn btn-warning w-100" type="submit" @onclick="ChangePanel">Modificar</button>
        </div>
        @if (Session.IsAdmin)
        {
            <div class="col-lg-3 col-md-12 col-sm-12 mt-2 form-group">
                <button class="btn btn-danger w-100" type="submit" @onclick="DeletePanel">Eliminar</button>
            </div>
        }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    
    [Parameter]
    public string teamName { get; set; }
    [Parameter]
    public int panelId { get; set; }
    
    private void GoToPanel()
    {
        Navigation.NavigateTo($"/{teamName}/{panelId}/tasks");
    }
    
    private void ChangePanel()
    {
        Navigation.NavigateTo("/auxiliar");
    }
    
    private void DeletePanel()
    {
        Navigation.NavigateTo("/auxiliar");
    }
}