@page "/{teamName}/panel"

@using Logica
@using Dominio
@using Dominio.Data
@inject TeamDataBase TDatabase
@inject NavigationManager Navigation
@inject Session Session

<PageTitle>Panel</PageTitle>


<div class="row">
    <h3>@teamName</h3>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" @onclick="CreatePanel">Crear Nuevo Panel</button>
    </div>
    @if (Panels.Count != 0)
    {
        foreach (var panel in Panels)
        {
            <PanelCard Title="@panel.Name" Description="@panel.Description"/>
        }
    }
    else
    {
        <p>Equipo sin paneles.</p>
    }
</div>


@code {
    [Parameter]
    public string teamName { get; set; }
    private List<Panel> Panels;
    
    protected override void OnInitialized()
    {
        if (Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }

        Panels = TDatabase.GetTeamByName(teamName).Panels;
    }
    
    private void CreatePanel()
    {
        Navigation.NavigateTo($"/{teamName}/panels/create");
    }
    
}