@page "/"

@inject NavigationManager Navigation
@inject Session Session
<PageTitle>Index</PageTitle>

<h1>TaskPanel</h1>

<p>¡Hola @Session.CurrentUser.Name, bienvenido a TaskPanel!</p>




@code {
    protected override void OnInitialized()
    {
        if (Session.CurrentUser==null)
        {
            Navigation.NavigateTo("/account/login");
        }
    }
}
