@page "/{teamName}/delete"

@using Dominio
@using Dominio.Data
@using Logica
@inject TeamDataBase TDatabase
@inject UserDataBase UDatabase
@inject NavigationManager Navigation
@inject Session Session

<h3>Eliminar Equipo</h3>

@code {
    [Parameter]
    public string teamName { get; set; }
    
    protected override void OnInitialized()
    {
        if (!Session.IsAdmin)
        {
            Navigation.NavigateTo("/error");
        }
       
    }
}