@page "/{teamName}/modify"
@using Dominio
@using Dominio.Data

@inject TeamDataBase TDatabase
@inject UserDataBase UDatabase
@inject TeamService TmService
@inject NavigationManager Navigation
@inject Session Session

<h3>Modificar Equipo</h3>

@code {
    [Parameter]
    public string teamName { get; set; }
    
    protected override void OnInitialized()
    {
        if (!Session.IsAdmin)
        {
            Navigation.NavigateTo("/error");
        }
       
    }
}