@inject NavigationManager Navigation

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" @onclick="GoToTeam">Ir</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" @onclick="DeleteTeam">Borrar</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" @onclick="ModifyTeam">Modificar</button>
        </div>
    </div>

</div>


@code {
    [Parameter]
    public string Title { get; set; }
    
    private void GoToTeam()
    {
        Navigation.NavigateTo($"/{Title}/panel");
    }
    private void DeleteTeam()
    {
        Navigation.NavigateTo($"/{Title}/delete");
    }
    private void ModifyTeam()
    {
        Navigation.NavigateTo($"/{Title}/modify");
    }
}