@page "/account/teams"


@using Dominio
@using Dominio.Data
@inject TeamDataBase TDatabase
@inject Session Session
@inject NavigationManager Navigation

<PageTitle>Equipos</PageTitle>
<h3>Equipos</h3>
<div class="row">
    @if (Teams.Count != 0)
    {
        foreach (var team in Teams)
        {
            <TeamCard Title="@team.Name"/>
        }
    }
    else
    {
        <p>No tienes equipos asignados.</p>
    }
</div>

@code {
    
    private List<Team> Teams;
    private List<Team> TeamsAdmin;
    
    protected override void OnInitialized()
    {
        if (Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }
        if (Session.IsAdmin)
        {
            Teams = TDatabase.GetTeams();
        }
        else
        {
            Teams = TDatabase.GetTeamsByUserEmail(Session.CurrentUser.Email);
        }
    }
}