@page "/account/teams"

@using Logica
@inject Session session
@inject NavigationManager Navigation

<PageTitle>Equipos</PageTitle>

<div class="row">
    <h3>Equipos</h3>
    
    @if(session.IsAdmin){
        <div class="form-group">
            <button class="btn btn-primary" type="submit" @onclick="CreateTeam">Crear un equipo</button>
        </div>
    }
    else
    {
        if (session.GetTeams().Count != 0)
        {
            foreach (var team in session.GetTeams())
            {
                <TeamCard Title="@team.Name"/>
            }
        }
        else
        {
            <p>No tienes equipos asignados.</p>
        }
    }
    
    
    
    
</div>


@code {
    private void CreateTeam()
    {
        Navigation.NavigateTo("/teams/create");
    }
}