@inherits LayoutComponentBase
@inject Session Session

<PageTitle>InterfazWeb</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (Session.CurrentUser != null){
                <NotificationMenu/>
            } 
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>