@inject Session Session
@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    @if (Session.CurrentUser != null){

    }
    <div class="container-fluid">
        <a class="navbar-brand" href="">TASK PANEL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        @if (Session.CurrentUser != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
        
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/account/teams">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Ver Equipos
                </NavLink>
            </div>
        }
        @if (Session.IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/users">
                    <span class="oi oi-pencil" aria-hidden="true"></span> ABM Usuarios
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/teams/create">
                    <span class="oi oi-people" aria-hidden="true"></span> Agregar Equipos
                </NavLink>
            </div>
        }
        @if (Session.CurrentUser != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/account/paperbin">
                    <span class="oi oi-trash" aria-hidden="true"></span> Papelera
                </NavLink>
            </div>  
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"/users/modify/{Session.CurrentUser.Email}")">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Configuracion
                </NavLink>
            </div>  
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/account/logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar Sesion
                </NavLink>
            </div>  
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override void OnInitialized()
    {

        Session.OnChange += RefreshNavMenu;
    }

    private void RefreshNavMenu()
    {
        InvokeAsync(StateHasChanged);
    }
    
}