@page "/users"

@inject NavigationManager Navigation
@inject Session Session

<PageTitle>ABMUsers</PageTitle>
<h3>Alta Baja Modificacion de usuarios</h3>
<div class="form-group">
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="AddUsers">Agregar Usuarios</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="DeleteUsers">Eliminar Usuarios</button>
    </div>
    <div class="col-4">
        <button class="btn btn-primary" type="submit" @onclick="ModifyUsers">Modificar Usuarios</button>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        if (!Session.IsAdmin || Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }
    }
    private void AddUsers()
    {
        Navigation.NavigateTo("/users/register");
    }
    private void DeleteUsers()
    {
        Navigation.NavigateTo("/users/delete");
    }
    private void ModifyUsers()
    {
        Navigation.NavigateTo("/users/modify");
    }
}