@page "/account/paperbin"
@using Dominio
@using Task = Dominio.Task
@using Interfaces
@inject ITeamService TmService
@inject ITaskService TkService
@inject IPanelService PlService
@inject IUserService UService
@inject Session Session
@inject NavigationManager Navigation

<h3>Papelera del usuario @selectedUser.Email</h3>

@if (PaperBinItems != null && PaperBinItems.Count > 0)
{
    <ul class="list-group">
        @foreach (var item in PaperBinItems)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong>@item.ToString()</strong>
                <div class="d-flex justify-content-end w-100">
                    <button class="btn btn-danger btn-sm me-2"
                            @onclick="() => DeleteElement(item)">Eliminar Permanentemente</button>
                    <button class="btn btn-warning btn-sm"
                            @onclick="() => RestoreElement(item)">Restaurar Elemento</button>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No hay elementos en la papelera.</p>
}

@code {
    public User selectedUser { get; set; }
    public List<IDeleteable> PaperBinItems { get; set; }
    protected override void OnInitialized()
    {
        if (Session.CurrentUser == null)
        {
            Navigation.NavigateTo("/error");
        }
       selectedUser = UService.GetUserByEmail(Session.CurrentUser.Email);
       PaperBinItems = UService.GetDeletedElements(Session.CurrentUser.Email);
    }

    public void DeleteElement(IDeleteable item)
    {
        UService.DeleteElementFromPaperbin(Session.CurrentUser.Email, item);
        if (item is Panel)
        {
            var panel = PlService.GetPanelById(item.Id);
            TmService.RemovePanelFromTeam(panel, panel.Team);
            PlService.RemovePanel(item.Id);
        }else if (item is Task)
        {
            var task = TkService.GetTaskById(item.Id);
            PlService.RemoveTaskFromPanel(task.PanelId, task);
        }
    }

    public void RestoreElement(IDeleteable item)
    {
        UService.RestoreElement(item, Session.CurrentUser.Email);
    }
}